# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints/

# Environments
.env
.venv/
venv/
ENV/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log

# Test and coverage
.coverage
htmlcov/
.tox/
.nox/
.cache/
pytest_cache/

# Build
build/
dist/
*.egg
*.whl

# Other
*.sqlite3
*.db

# Ignore OneDrive sync files
*.tmp.driveupload
~$*
